<button (click)="print()">print</button>
<p-panel id="print-section" [style]="{padding:'0px'}">
    <p-header>
        Galcoma Report

    </p-header>

    <div class="ui-g">
        <input class="ui-g-12" type="file" accept="image/*" (change)="changeListener($event)">

        <span class="ui-g-12 borderClass" style="margin-bottom: 5px;">
            <span class="ui-g-4">Name: Siqlain Hanif Khan</span>
            <span class="ui-g-3">ID: 12JF3</span>
            <span class="ui-g-2">Age: 25 Years</span>
            <span class="ui-g-3">Gender: Male</span>
        </span>
        <div class="ui-g-7 borderClass" style="text-align: center;">
            Orignal Image<br>
            <img height="400" width="100%" src='{{newImage}}' />
        </div>
        <div class="ui-g-5 borderClass">
            Optic Disc<br>
            <img height="250" src='{{newImage}}' style="border-bottom: 1px solid black;width:100%;" />

            <label class="ui-g-12">
                <b>Observations</b>
            </label>
            <span class="ui-g-12">
                Cup to disk ratio(CDR):3.3692
                ISNT Rule:1
            </span>
        </div>
        <div class="ui-g-10">
            <span *ngFor="let demo of demoData;">
                <span class="ui-g-2 borderClass" style="text-align: center; margin-right:5px;margin-bottom:5px;">
                    {{demo.name}}
                    <br>
                    <img height="100" width="80%" [src]="'data:image/jpg;base64,'+demo.value" />
                    <!-- <img height="100" width="80" [src]=''data:image/jpg;base64,'+{{demo.value}}' /> -->
                </span>
            </span>
        </div>
        <label class="ui-g-12"> Commnets/Notes </label>
        <textarea class="ui-g-12" rows="5" placeholder="Commnets/Notes" cols="30" pInputTextarea></textarea>


        <div class="ui-g-6" style="text-align: right;">
            Albasr MRS
        </div>
        <div class="ui-g-6" style="text-align: right;">
            Print Date: 30/11/2018
        </div>
    </div>
</p-panel>