<div class="ui-g-12 ui-g-nopad">
  <form class="form" novalidate #formDir="ngForm" [formGroup]="demographicsForm">
    <p-panel class="page-panel">
      <p-header>
        <div class="ui-g ui-helper-clearfix" style="margin:0px">
          <div class="ui-g-4 " style="margin:0px">
            <span class="ui-panel-title page-panel-title" style="font-weight: 500;font-size: 17px;">
              {{pageTitle}}</span>
          </div>
          <div class="ui-g-4" style="margin:0px;text-align: center">
            <span class="ui-panel-title page-panel-title" style="font-weight: 500;font-size: 15px;">
              MRN : </span>
            <span class="ui-panel-title page-panel-title" style="font-weight: 500;font-size: 15px;">
              Test </span>
          </div>
          <div class="ui-g-4" style="margin:0px">
            <button *ngIf="(!editMode && saved) && !loading" pButton type="button" (click)="startNewVisit()"
              icon="fa fa-play" label="Start New Visit" style="float: right"></button>
            <button pButton *ngIf="!loading" [disabled]="saved || demographicsForm.invalid" type="submit"
              (click)="saveBtnClick()" icon="fa fa-check" label="Save" style="float: right;margin-right: 5px"></button>
            <p-progressSpinner class="ui-toolbar-group-right" *ngIf="loading" [style]="{width: '25px', height: '25px'}"
              strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
          </div>
        </div>
      </p-header>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-g-nopad">
          <div class="ui-g-12 ui-md-6 ui-lg-6">
            <div class="card card-w-title">
              <h4>Demographics</h4>
              <p-fieldset legend="Name">
                <div formArrayName="names">
                  <div formGroupName="0">
                    <div class="ui-g ui-fluid form-group">
                      <div class="ui-g-12 ui-md-4">
                        <input type="text" pKeyFilter="alpha" pInputText formControlName="givenName"
                          placeholder="First Name *">
                        <span class="help-block"
                          *ngIf="(demographicsForm.get('names.0.givenName').touched ||
                                                                                        demographicsForm.get('names.0.givenName').dirty || formDir.submitted) &&
                                                                                        demographicsForm.get('names.0.givenName').errors">
                          <span *ngIf="demographicsForm.get('names.0.givenName').errors.required">
                            Please enter First name.
                          </span>
                          <span *ngIf="demographicsForm.get('names.0.givenName').errors.minlength">
                            First name must be longer than 3 characters.
                          </span>
                          <span *ngIf="demographicsForm.get('names.0.givenName').errors?.pattern">
                            Invalid name
                          </span>
                        </span>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <input type="text" pKeyFilter="alpha" pInputText formControlName="middleName"
                          placeholder="Middle Name">
                        <span class="help-block" *ngIf="(demographicsForm.get('names.0.middleName').touched ||
                        demographicsForm.get('names.0.middleName').dirty || formDir.submitted) &&
                        demographicsForm.get('names.0.middleName').errors">
                          <span *ngIf="demographicsForm.get('names.0.middleName').errors.required">
                            Please enter First name.
                          </span>
                          <span *ngIf="demographicsForm.get('names.0.middleName').errors.minlength">
                            First name must be longer than 3 characters.
                          </span>
                          <span *ngIf="demographicsForm.get('names.0.middleName').errors?.pattern">
                            Invalid name
                          </span>
                        </span>
                      </div>
                      <div class="ui-g-12 ui-md-4">
                        <input type="text" pInputText pKeyFilter="alpha" formControlName="familyName"
                          placeholder="Family Name *">
                        <span class="help-block"
                          *ngIf="(demographicsForm.get('names.0.familyName').touched ||
                                                                                        demographicsForm.get('names.0.familyName').dirty || formDir.submitted) &&
                                                                                        demographicsForm.get('names.0.familyName').errors">
                          <span *ngIf="demographicsForm.get('names.0.familyName').errors.required">
                            Please enter Family name.
                          </span>
                          <span *ngIf="demographicsForm.get('names.0.familyName').errors.maxlength">
                            First name must contain fewer than 50 characters.
                          </span>
                          <span *ngIf="demographicsForm.get('names.0.familyName').errors?.pattern">
                            Invalid name
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </p-fieldset>
              <br>
              <p-fieldset legend="Gender">
                <div class="ui-g ui-fluid form-group">
                  <div class="ui-g-12 ui-md-3">
                    <p-radioButton name="gender" formControlName="gender" value="male" label="Male"></p-radioButton>
                  </div>
                  <div class="ui-g-12 ui-md-3">
                    <p-radioButton name="gender" formControlName="gender" value="female" label="Female"></p-radioButton>
                  </div>
                  <span class="help-block" *ngIf="(
                                            demographicsForm.get('gender').touched || 
                                            demographicsForm.get('gender').dirty || formDir.submitted) && 
                                            demographicsForm.get('gender').errors">
                    <span *ngIf="demographicsForm.get('gender').errors.required"> Please Specify Gender</span>
                  </span>
                </div>
              </p-fieldset>
              <br>

              <p-fieldset legend="Date of Birth">
                <div class="ui-g form-group">
                  <div class="ui-g-12 ui-md-12 ui-lg-5 ui-g-nopad" style="padding:0%">
                    <p-calendar [yearNavigator]="true" [monthNavigator]="true" yearRange="1950:2050" id="birthDate"
                      formControlName="birthdate" placeholder="Birth Date (dd/mm/yyyy)*"></p-calendar>
                    <span class="help-block"
                      *ngIf="(demographicsForm.get('birthdate').touched ||
                                                                                        demographicsForm.get('birthdate').dirty || formDir.submitted) &&
                                                                                        demographicsForm.get('birthdate').errors">
                      <span *ngIf="demographicsForm.get('birthdate').errors.required">
                        Please enter Birth date.
                      </span>
                    </span>
                  </div>
                  <div class="ui-g-12 ui-fluid ui-md-12 ui-lg-1 ui-g-nopad" style="padding-top:5px;text-align: center">
                    OR</div>
                  <div class="ui-g-12 ui-fluid ui-md-12 ui-lg-5 ui-g-nopad " style="padding:0%">
                    <p-spinner formControlName="age" [min]="0" [max]="150" placeholder="Age In Years" pKeyFilter="int">
                    </p-spinner>
                  </div>
                </div>
              </p-fieldset>
              <br>
            </div>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-6">
            <div class="card card-w-title">
              <h4>Contact Information</h4>
              <div formArrayName="addresses">
                <div formGroupName="0">
                  <p-fieldset legend="Address">
                    <div class="ui-g ui-fluid form-group ui-g-nopad">
                      <div class="ui-g-12 ui-md-6">
                        <input type="text" formControlName="address1" pInputText placeholder="Address 1">
                      </div>
                      <div class="ui-g-12 ui-md-6">
                        <input type="text" formControlName="address2" pInputText placeholder="Address 2">
                      </div>
                      <div class="ui-g-12 ui-md-6">
                        <p-autoComplete formControlName="country" [suggestions]="filteredCountries"
                          (completeMethod)="filterCountry($event)" field="name" [size]="30" placeholder="Country"
                          [minLength]="1"></p-autoComplete>
                      </div>
                      <div class="ui-g-12 ui-md-6">
                        <p-autoComplete formControlName="stateProvince" [suggestions]="filteredProvinces"
                          (completeMethod)="filterProvince($event)" field="name" [size]="30"
                          placeholder="State/Province" [minLength]="1"></p-autoComplete>
                      </div>
                      <div class="ui-g-12 ui-md-6">
                        <p-autoComplete formControlName="cityVillage" [suggestions]="filteredCities"
                          (completeMethod)="filterCity($event)" field="name" [size]="30" placeholder="City/Village"
                          [minLength]="1"></p-autoComplete>
                        <span class="help-block" *ngIf="(demographicsForm.get('addresses.0.cityVillage').touched ||
                                                        demographicsForm.get('addresses.0.cityVillage').dirty || formDir.submitted ) &&
                                                        demographicsForm.get('addresses.0.cityVillage').errors">
                          <span *ngIf="demographicsForm.get('addresses.0.cityVillage').errors.required">
                            Please enter City name.
                          </span>
                        </span>
                      </div>
                      <div class="ui-g-12 ui-md-6">
                        <input type="text" formControlName="postalCode" pInputText placeholder="Postal Code">
                      </div>

                    </div>
                  </p-fieldset>
                </div>
              </div>
              <br>
              <p-fieldset legend="Phone Number">
                <div class="ui-g-12 ui-md-6">
                  <div formArrayName="attributes">
                    <div formGroupName="0">
                      <div class="ui-g-12 form-group"
                        [ngClass]="{'has-error': (demographicsForm.get('attributes.0.value').touched || 
                            demographicsForm.get('attributes.0.value').dirty) && demographicsForm.get('attributes.0.value').errors }">
                        <!--    SAMPLE EXAMPLE-->
                        <!--  <p-inputMask mask="99-999999" [(ngModel)]="val1" placeholder="99-999999"></p-inputMask> -->
                        <p-inputMask class="ui-g-12 form-control" mask="9999-9999999" id="phoneId"
                          formControlName="value" placeholder="XXXX-XXXXXXX"></p-inputMask>
                        <!-- PREVIOUS CODE -->
                        <!--       <input type="text" formControlName="value" pInputText placeholder="Phone #"> -->
                        <span class="ui-g-12 help-block"
                          *ngIf="(demographicsForm.get('attributes.0.value').touched || 
                                demographicsForm.get('attributes.0.value').dirty) && demographicsForm.get('attributes.0.value').errors">
                          <span *ngIf="demographicsForm.get('attributes.0.value').errors.required"> Please Enter Your
                            Phone
                            Number</span>
                          <span *ngIf="demographicsForm.get('attributes.0.value').errors.pattern"> Invalid Phone
                            Number</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </p-fieldset>
            </div>
          </div>
        </div>
      </div>
    </p-panel>
  </form>
</div>